# 忽略所有 __pycache__ 目录及其内容
**/__pycache__/

# 忽略所有 .pyc 文件
*.pyc

# 忽略 Python 的缓存目录（比如由 __pycache__ 之外的其他机制生成）
**/__pycache__

/test/
.idea
.venv
michael_tools/openapi_op/test/openapi_key
/michael_tools.egg-info/
/dist/
/michael_tools/sql_op/test/db_config.json
/michael_tools/txt_operation/llm_format/build/
/michael_tools/txt_operation/llm_format/min_program.spec
/build/
/min_program.spec
